{{extend 'layout.html'}}

<div id="doi-doi">
	<div id="project-files">
		{{if not cod_valid:}}
			<h1>COD PROIECT:</h1>
			{{=form.custom.begin}}
  			<div class="clearme">{{=form.custom.widget.project_code}}</div>  
  			<div id="trimite">{{=form.custom.submit}}</div>
  			{{=form.custom.end}}
		{{else:}}
			<h1>{{=project.upper()}}</h1>
			<table>
				<tbody>
				{{tr_classes = ('odd','even')}}
				{{i=1}}
				{{for f, size in files:}}
					<tr class="{{=tr_classes[i%2]}}">
						<td class="long">{{=A(f, _href=URL('static', os.path.join(dirname,f)))}}</td>
						<td>{{=size}}</td>
					</tr>
					{{i+=1}}
				{{pass}}
				</tbody>
			</table>
		{{pass}}
	</div>
</div>

<script type="text/javascript">
$(function(){
    $("#access-link").addClass('current');
    $("#links>li:last").addClass('active');
});
</script>