
{{extend 'layout.html'}}
<div id="doi-trei" class="text-right">
  <div id="ten-pixels-padder" class="address">
  {{if abo:}}
  {{=MARKMIN(abo.address)}}
  {{pass}}
  </div>
</div>

<div id="doi-patru">
  <div id="contact">
  {{=form.custom.begin}}
  <div class="clearme">{{=form.custom.widget.nume}}</div>
  <div class="clearme">{{=form.custom.widget.companie}}</div>
  <div class="clearme">{{=form.custom.widget.email}}</div>
  <div class="clearme">{{=form.custom.widget.mesaj}}</div>
  <div id="trimite">{{=form.custom.submit}}</div>
  {{=form.custom.end}}
  </div>
</div>

<script type="text/javascript">
$(function(){

    $(".clearme>input, .clearme>textarea").focus(function(){
    if(this.value == this.defaultValue){
        this.value = "";
    }
    }).blur(function(){
    if(!this.value.length) {
        this.value = this.defaultValue;
    }
    });
		$("a:contains('CONTACT')").addClass("active");
});

</script>
