
{{extend 'layout.html'}}
<div id="doi-trei" class="text-right">
  <div id="ten-pixels-padder" class="address">
  <p>S.C.EX STUDIO S.R.L.</p>
  <p>A: 300273 Timisoara</p>
  <p>str. dr. Ioan Muresan</p>
  <p>95 Sc. A ap. 3</p>
  <br />
  <p>T: +40 720 035 092</p> 
  <p>F: +40 356 815 835</p>
  </div>
</div>

<div id="doi-patru">
  <div id="contact">
  {{=form.custom.begin}}
  <div class="clearme">{{=form.custom.widget.name}}</div>
  <div class="clearme">{{=form.custom.widget.companie}}</div>
  <div class="clearme">{{=form.custom.widget.email}}</div>
  <div class="clearme">{{=form.custom.widget.mesaj}}</div>
  <div id="trimite">{{=form.custom.submit}}</div>
  {{=form.custom.end}}
  </div>
</div>

<script type="text/javascript">
    $(".clearme>input, .clearme>textarea").focus(function(){
    if(this.value == this.defaultValue){
        this.value = "";
    }
    }).blur(function(){
    if(!this.value.length) {
        this.value = this.defaultValue;
    }
    });
</script>
