{{extend 'layout.html'}}

<div id="doi-patru">
	<div id="galerie">
		<div id="grid">
		{{for index,pic in enumerate(pics):}}
			{{=A(IMG(_src=URL('download', args=pic.thumb), _alt=pic.title, _class='pic'), _href=URL('panou', args=(pic.id, index+1, len(pics))))}}					
		{{pass}}
		</div>
	</div>
</div>
<div id="doi-doi">
 <div id="panou"></div>
</div>
<div id="trei-trei">
	<div id="progress">
		<img src="{{=URL('static', 'images/progress.gif')}}" alt="progress"/>
	</div>
</div>
<div id="unu-patru">
</div>

<div id="unu-trei">  
  <span class="current-thing">
  	{{=T('Proiect')}}:<br/>
    <a href="{{=URL('galerie', args=project.id)}}">{{=project.name}}</a>
  </span>  
</div>

<div id="navigator">
  <div id="trei-doi">
    <a id="prev-detail" href="#">
    </a>
  </div>
  <div id="trei-trei">
    <a id="next-detail" href="#"></a>
  </div>
</div>


<script type="text/javascript">
	function updatePrevNext(aObject){
       $("#grid>a>img.current-pic").removeClass("current-pic");
       aObject.children("img.pic").addClass("current-pic");
		var prevImage = aObject.prev("a").attr("href");
		var nextImage = aObject.next("a").attr("href");
		if(prevImage) $("#prev-detail").attr("href", prevImage);
		if(nextImage) $("#next-detail").attr("href", nextImage);
	}
	function showActivity(){$("#progress").show();}
	function hideActivity(){$("#progress").hide();}
	// Grayscale w canvas method
	function grayscale(src){
		var canvas = document.createElement('canvas');
		var ctx = canvas.getContext('2d');
		var imgObj = new Image();
		imgObj.src = src;
		canvas.width = imgObj.width;
		canvas.height = imgObj.height; 
		ctx.drawImage(imgObj, 0, 0); 
		var imgPixels = ctx.getImageData(0, 0, canvas.width, canvas.height);
		for(var y = 0; y < imgPixels.height; y++){
			for(var x = 0; x < imgPixels.width; x++){
				var i = (y * 4) * imgPixels.width + x * 4;
				var avg = (imgPixels.data[i] + imgPixels.data[i + 1] + imgPixels.data[i + 2]) / 3;
				imgPixels.data[i] = avg; 
				imgPixels.data[i + 1] = avg; 
				imgPixels.data[i + 2] = avg;
			}
		}
		ctx.putImageData(imgPixels, 0, 0, 0, 0, imgPixels.width, imgPixels.height);
		return canvas.toDataURL();
    }
	$(function(){
		showActivity();
		var firstLink = $("#grid>a:first");
		$("#panou").load(firstLink.attr("href"));
		updatePrevNext(firstLink);

		$("#grid>a").click(function(e){
			showActivity();
			var clickedLink = $(this);
			$("#panou").load(clickedLink.attr("href"));
			updatePrevNext(clickedLink);
			e.preventDefault();
		});
		$("#prev-detail, #next-detail").click(function(e){
			showActivity();
			var clickedLink = $(this);
			$("#panou").load(clickedLink.attr("href"));
			updatePrevNext($("#grid>a[href='"+clickedLink.attr("href")+"']"));
			e.preventDefault();
		});
		// Fade in images so there isn't a color "pop" document load and then on window load
		$(".pic").fadeIn(500);
		
		// clone image
		$('.pic').each(function(){
			var el = $(this);
			el.css({"position":"absolute"}).wrap("<div class='img_wrapper' style='display: inline-block'>").clone().addClass('img_grayscale').css({"position":"absolute","z-index":"998","opacity":"0"}).insertBefore(el).queue(function(){
				var el = $(this);
				el.parent().css({"width":this.width,"height":this.height});
				el.dequeue();
			});
			this.src = grayscale(this.src);
		});
		
		// Fade image 
		$('.pic').mouseover(function(){
			$(this).parent().find('img:first').stop().animate({opacity:1}, 300);
		})
		$('.img_grayscale').mouseout(function(){
			$(this).stop().animate({opacity:0}, 300);
		});		
	});
</script>
