<div id="galerie">
	<div id="grid">
	{{for index,pic in enumerate(pics):}}
		{{=A(IMG(_src=URL('download', args=pic.gray), _alt=pic.title, _class='pic'), _href=URL('panou', args=(pic.id, index+1, len(pics))))}}
	{{pass}}
	</div>
	<div id="panou">
	</div>
</div>

<script type="text/javascript">
	function updateProperties() {
		$("#poza-mare").load(function(){
			$.fancybox.hideActivity();
			var height = $(this).height();
			var width = $(this).width();
			$('#panou').height(height);
			$('#panou').width(width);
			$('#galerie').height(height+340);
			$('#galerie').width(width+340);
			$.fancybox.resize();
		});
				
		$('#poza-mare[title]').qtip({
			style: {name: 'dark'},
			position: {
	 			corner: {
 					target: 'bottomCenter',
 					tooltip: 'bottomLeft'
					}
				},
		});
	}

	$(function(){
		$.fancybox.showActivity();
		$("#panou").load($("#grid>a:first").attr("href"), function(){
			updateProperties();
		});
		{{index=0}}
		{{count=10}}
		$('<div id="navigator">{{if index>1:}}<a href="{{=URL(args=[index-1])}}"><img src="{{=URL("static", "images/buton_sus.png")}}" alt="prev" /></a>{{else:}}<img src="{{=URL("static", "images/buton_sus_inactiv.png")}}" alt="prev" />{{pass}}{{if index<count:}}<a id="next-img" href="{{=URL("panou", args=(pics[index-1].id, index+1, len(pics)))}}"><img src="{{=URL("static", "images/buton_jos.png")}}" alt="next" /></a>{{else:}}<img src="{{=URL("static", "images/buton_jos_inactiv.png")}}" alt="next" />{{pass}}</div>').insertAfter("#fancybox-close");

		$("#grid>a, #next-img, #prev-img").click(function(e){
			$.fancybox.showActivity();
			$("#panou").load($(this).attr("href"), function(){
				updateProperties();
		});
			e.preventDefault();
		});
	});
</script>
