<div id="galerie">
	<div id="grid">
	{{for pic in pics:}}
		{{=A(IMG(_src=URL('download', args=pic.gray), _alt=pic.title, _class='pic'), _href=URL('panou', args=pic.id))}}
	{{pass}}
	</div>
	<div id="panou"></div>
</div>

<script type="text/javascript">
	$(function(){
		$("#panou").load($("#grid>a:first").attr("href"));
		$('#galerie').bind('resize',function(){
				var height = $('#galerie').height()+25;
				var width = $('#galerie').width()+25;
				console.log(width, height);
				$('#fancybox-wrap').height(height);
				$('#fancybox-wrap').width(width);
			});$('#galerie').bind('resize',function(){
				var height = $('#galerie').height()+25;
				var width = $('#galerie').width()+25;
				console.log(width, height);
				$('#fancybox-wrap').height(height);
				$('#fancybox-wrap').width(width);
			});
		$("#grid>a").click(function(e){
			$("#panou").load($(this).attr("href"), function(){
		});
			e.preventDefault();
		});
	});
</script>
