{{extend 'layout.html'}}

{{for i,div in enumerate(divs):}}
{{if i==items_per_page: break}}
{{=div}}
{{pass}}

<div id="doi-cinci">
{{if page:}}
<a href="{{=URL(args=[page-1])}}"><img id="prev" src="{{=URL('static', 'images/buton_sus.png')}}" alt="prev" /></a>
{{else:}}
<img id="prev" src="{{=URL('static', 'images/buton_sus_inactiv.png')}}" alt="prev" />
{{pass}}

{{if len(divs)>items_per_page:}}
<a href="{{=URL(args=[page+1])}}"><img id="next" src="{{=URL('static', 'images/buton_jos.png')}}" alt="next" /></a>
{{else:}}
<img id="next" src="{{=URL('static', 'images/buton_jos_inactiv.png')}}" alt="next" />
{{pass}}
<div id="counter">
{{=page+1}}/{{=max_pages}}
</div>
</div>

<div id="trei-unu">
	{{if len(years)>0:}}
	<ul id="years">
	{{for year in years:}}
		<li>{{=A(year['year'],_href=URL('index', vars={'year':year['year'], 'tag':request.vars.tag}))}}</li>
	{{pass}}
	</ul>
	{{pass}}
</div>

<div id="trei-cinci">
<div id="links">
	<div><a class="text-show" href="{{=URL('contact')}}"><img src="{{=URL('static', 'images/contact.png')}}" alt='contact'/></a> <span class="hidden-text">Contact</span></div>
	<div><a class="text-show" href="{{=URL('access')}}"><img src="{{=URL('static', 'images/access.png')}}" alt='access'/></a> <span class="hidden-text">Acces clienti</span></div>
</div>
</div>

<script type="text/javascript">
	function apple_effect(element, size1, size2){
		element.parent().prev().children('a').css('font-size', size2);
		element.css('font-size', size1);
		element.parent().next().children('a').css('font-size', size2);
	}
	$(function(){
		$('img.prj-img[title]').qtip({
			style: {name: 'dark'},
			position: {
    		 	corner: {
         			target: 'topLeft',
         			tooltip: 'topLeft'
      			}
   			}
		});
		$("#menu>li>a").hover(
			function(){apple_effect($(this), '1.2em', '1em');},
			function(){apple_effect($(this), '10px', '10px');}
		);
		$("#years>li>a").hover(
			function(){apple_effect($(this), '1.2em', '1em');},
			function(){apple_effect($(this), '10px', '10px');}
		);
		$("#years>li>a").hover(
			function(){apple_effect($(this), '1.2em', '1em');},
			function(){apple_effect($(this), '10px', '10px');}
		);
		$("a.text-show").hover(
			function(){$(this).next('span.hidden-text').fadeIn();},
			function(){$(this).next('span.hidden-text').fadeOut();}
		);
	});
</script>
