{{extend 'layout.html'}}

{{for i,div in enumerate(divs):}}
{{if i==items_per_page: break}}
{{=div}}
{{pass}}

<div id="doi-cinci">
{{if page:}}
<a href="{{=URL(args=[page-1])}}"><img id="prev" src="{{=URL('static', 'images/buton_sus.png')}}" alt="prev" /></a>
{{else:}}
<img id="prev" src="{{=URL('static', 'images/buton_sus_inactiv.png')}}" alt="prev" />
{{pass}}

{{if len(divs)>items_per_page:}}
<a href="{{=URL(args=[page+1])}}"><img id="next" src="{{=URL('static', 'images/buton_jos.png')}}" alt="next" /></a>
{{else:}}
<img id="next" src="{{=URL('static', 'images/buton_jos_inactiv.png')}}" alt="next" />
{{pass}}
</div>

<div id="trei-unu">
	{{if len(years)>0:}}
	<div id="years">
		<ul>
		{{for year in years:}}
			<li>{{=A(year['year'],_href=URL('proiecte', vars={'year':year['year'], 'tag':request.vars.tag}))}}</li>
		{{pass}}
		</ul>
	</div>
	{{pass}}
</div>

<div id="trei-cinci">
<div id="links">
	<div id="contact-link"><a href="{{=URL('contact')}}"><img src="{{=URL('static', 'images/contact.png')}}" alt='contact'/></a></div>
	<div id="access-link"><a href="{{=URL('access')}}"><img src="{{=URL('static', 'images/access.png')}}" alt='access'/></a></div>
</div>
</div>

<script type="text/javascript">
	$(function(){
		$('img.prj-img[title]').qtip({
			style: {name: 'dark'},
			position: {
    		 	corner: {
         			target: 'topLeft',
         			tooltip: 'topLeft'
      			}
   			}
		});
		var square_side = $("#doi-doi").width();
		$("a.galerie").fancybox({
			'transitionIn'	:	'elastic',
			'transitionOut'	:	'elastic',
			'padding'		:	'0',
			'margin'		:	'0',
			'width'			:	square_side*3,
			'height'		:	square_side*2,
			'opacity'		:	true,
			'showNavArrows'	:	false,
			'overlayOpacity': 	"0.9", 
			'overlayColor'	:	'#000',
			'scrolling'		:	'no',
		});
	});
</script>
