{{=IMG(_src=URL('download', args=pic.image), _alt=pic.title or pic.description, _id='poza-mare')}}
{{if pic.description or pic.title:}}
{{=DIV(pic.description or pic.title, _class='overlay')}}
{{pass}}
<script type="text/javascript">
$("#panou>img").load(function(){
	$("#panou>img").css("top", ($("#panou").height() - $("#panou>img").height())/2);
	$("#panou>img").css("left", ($("#panou").width() - $("#panou>img").width())/2);
	$("#counter").text("{{=counter}}")
	$("#panou").hover(
  			function () {  				
    			$(this).children(".overlay").slideDown("fast");
  			}, 
  			function () {
    			$(this).children(".overlay").slideUp("fast");
  			}
		);	
	hideActivity();
});
</script>