{{extend 'layout.html'}}

{{for i,div in enumerate(divs):}}
{{if i==items_per_page: break}}
{{=div}}
{{pass}}

<div id="doi-cinci">
{{if page:}}
<a href="{{=URL(args=[page-1])}}"><img id="prev" src="{{=URL('static', 'images/buton_sus.png')}}" alt="prev" /></a>
{{else:}}
<img id="prev" src="{{=URL('static', 'images/buton_sus_inactiv.png')}}" alt="prev" />
{{pass}}

{{if len(divs)>items_per_page:}}
<a href="{{=URL(args=[page+1])}}"><img id="next" src="{{=URL('static', 'images/buton_jos.png')}}" alt="next" /></a>
{{else:}}
<img id="next" src="{{=URL('static', 'images/buton_jos_inactiv.png')}}" alt="next" />
{{pass}}
</div>

{{if len(years)>0:}}
<div id="year1">
{{=years[0]}}
</div>
{{pass}}

{{if len(years)>1:}}
<div id="year2">
{{=years[-1]}}
</div>
{{pass}}

<script type="text/javascript">
	$(function(){
		$("a:contains('PROIECTE')").addClass("active");
		$('img.prj-img[title]').qtip({
			style: {name: 'dark'},
			position: {
    		 	corner: {
         			target: 'topLeft',
         			tooltip: 'topLeft'
      			}
   			}
		});
		$("a.galerie").fancybox({
			'transitionIn'	:	'elastic',
			'transitionOut'	:	'elastic',
			'padding'		:	'0',
			'margin'		:	'0',
			'opacity'		:	true,
			'width'			:	'700',
			'height'		:	'700',
			'showNavArrows'	:	false,
			'overlayShow'	:	true,
			'autoScale'		:	false,
			'autoDimensions':	false,
			'overlayColor'	:	'#000',
			'scrolling'		:	'no'
		});
		});
</script>
