/* line 17, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -20px;
}
/* line 18, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#container #root-footer {
  height: 20px;
}

/* line 20, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 20px;
}

/* line 28, ../sass/screen.sass */
body {
  color: #adadad;
}
@media screen and (max-width: 1024) {
  /* line 28, ../sass/screen.sass */
  body {
    background-image: url("../images/patrat_250.png");
  }
}
@media screen and (min-width: 1025) and (max-width: 1280) {
  /* line 28, ../sass/screen.sass */
  body {
    background-image: url("../images/patrat_300.png");
  }
}
@media screen and (min-width: 1281) {
  /* line 28, ../sass/screen.sass */
  body {
    background-image: url("../images/patrat_340.png");
  }
}

/* line 37, ../sass/screen.sass */
input[type=text] {
  background-color: #c1c1c1;
  color: #646362;
  border: None;
  padding-right: 0;
  height: 19px;
  font-size: 12px;
  font-family: Arial;
}
@media screen and (max-width: 1024) {
  /* line 37, ../sass/screen.sass */
  input[type=text] {
    width: 248px;
  }
}
@media screen and (min-width: 1025) and (max-width: 1280) {
  /* line 37, ../sass/screen.sass */
  input[type=text] {
    width: 298px;
  }
}
@media screen and (min-width: 1281) {
  /* line 37, ../sass/screen.sass */
  input[type=text] {
    width: 338px;
  }
}

/* line 52, ../sass/screen.sass */
input[type=submit] {
  margin-right: 1;
}

/* line 55, ../sass/screen.sass */
textarea {
  background-color: #c1c1c1;
  color: #646362;
  border: None;
  padding: 0;
  height: 70px;
  font-size: 12px;
  font-family: Arial;
}
@media screen and (max-width: 1024) {
  /* line 55, ../sass/screen.sass */
  textarea {
    width: 248px;
  }
}
@media screen and (min-width: 1025) and (max-width: 1280) {
  /* line 55, ../sass/screen.sass */
  textarea {
    width: 298px;
  }
}
@media screen and (min-width: 1281) {
  /* line 55, ../sass/screen.sass */
  textarea {
    width: 338px;
  }
}

/* line 70, ../sass/screen.sass */
ul.menu {
  padding-top: 50px;
}
/* line 72, ../sass/screen.sass */
ul.menu a {
  color: #adadad;
  text-decoration: None;
  font-size: 12px;
  font-family: Arial;
}
/* line 18, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul.menu a:visited {
  color: #adadad;
}
/* line 21, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul.menu a:focus {
  color: #6c6c6c;
}
/* line 24, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul.menu a:hover {
  color: #6c6c6c;
}
/* line 27, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul.menu a:active {
  color: #a5132a;
}
/* line 77, ../sass/screen.sass */
ul.menu a.active {
  color: #a5132a;
}
/* line 79, ../sass/screen.sass */
ul.menu li {
  padding-left: 14px;
  background: url("../images/sageata_gri.png") no-repeat 2px 4px;
  list-style-type: none;
}
@media screen and (max-width: 1024) {
  /* line 79, ../sass/screen.sass */
  ul.menu li {
    padding-bottom: 20.833px;
  }
}
@media screen and (min-width: 1025) and (max-width: 1280) {
  /* line 79, ../sass/screen.sass */
  ul.menu li {
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 1281) {
  /* line 79, ../sass/screen.sass */
  ul.menu li {
    padding-bottom: 28.333px;
  }
}

/* line 90, ../sass/screen.sass */
ul#cat-menu {
  padding-top: 50px;
}
/* line 92, ../sass/screen.sass */
ul#cat-menu a {
  color: #adadad;
  text-decoration: None;
  font-size: 12px;
  font-family: Arial;
}
/* line 18, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul#cat-menu a:visited {
  color: #adadad;
}
/* line 21, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul#cat-menu a:focus {
  color: #6c6c6c;
}
/* line 24, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul#cat-menu a:hover {
  color: #6c6c6c;
}
/* line 27, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul#cat-menu a:active {
  color: #a5132a;
}
/* line 97, ../sass/screen.sass */
ul#cat-menu a.active {
  color: #a5132a;
}
/* line 99, ../sass/screen.sass */
ul#cat-menu > li {
  padding-left: 14px;
  background: url("../images/sageata_rosie.png") no-repeat 2px 5px;
  list-style-type: none;
}

/* line 104, ../sass/screen.sass */
.small {
  font-size: 80%;
}

/* line 107, ../sass/screen.sass */
#footer {
  color: #646362;
  font-size: 9px;
  font-family: Arial;
}

/* line 112, ../sass/screen.sass */
#logo-img {
  position: absolute;
}
@media screen and (max-width: 1024) {
  /* line 112, ../sass/screen.sass */
  #logo-img {
    top: 500px;
  }
}
@media screen and (min-width: 1025) and (max-width: 1280) {
  /* line 112, ../sass/screen.sass */
  #logo-img {
    top: 600px;
  }
}
@media screen and (min-width: 1281) {
  /* line 112, ../sass/screen.sass */
  #logo-img {
    top: 680px;
  }
}

/* line 121, ../sass/screen.sass */
#ten-pixels-padder {
  padding: 10px;
}

/* line 124, ../sass/screen.sass */
div.address {
  font-size: 12px;
  font-family: Arial;
}
/* line 127, ../sass/screen.sass */
div.address p {
  line-height: 1.2em;
}

/* line 130, ../sass/screen.sass */
#doi-unu {
  display: block;
  position: absolute;
  left: 0px;
}
@media screen and (max-width: 1024) {
  /* line 130, ../sass/screen.sass */
  #doi-unu {
    width: 250px;
    height: 250px;
    top: 250px;
  }
}
@media screen and (min-width: 1025) and (max-width: 1280) {
  /* line 130, ../sass/screen.sass */
  #doi-unu {
    width: 300px;
    height: 300px;
    top: 300px;
  }
}
@media screen and (min-width: 1281) {
  /* line 130, ../sass/screen.sass */
  #doi-unu {
    width: 340px;
    height: 340px;
    top: 340px;
  }
}

/* line 147, ../sass/screen.sass */
#doi-doi {
  display: block;
  position: absolute;
}
@media screen and (max-width: 1024) {
  /* line 147, ../sass/screen.sass */
  #doi-doi {
    width: 250px;
    height: 250px;
    left: 250px;
    top: 250px;
  }
}
@media screen and (min-width: 1025) and (max-width: 1280) {
  /* line 147, ../sass/screen.sass */
  #doi-doi {
    width: 300px;
    height: 300px;
    left: 300px;
    top: 300px;
  }
}
@media screen and (min-width: 1281) {
  /* line 147, ../sass/screen.sass */
  #doi-doi {
    width: 340px;
    height: 340px;
    left: 340px;
    top: 340px;
  }
}

/* line 166, ../sass/screen.sass */
#doi-trei {
  display: block;
  position: absolute;
}
@media screen and (max-width: 1024) {
  /* line 166, ../sass/screen.sass */
  #doi-trei {
    width: 250px;
    height: 250px;
    left: 500px;
    top: 250px;
  }
}
@media screen and (min-width: 1025) and (max-width: 1280) {
  /* line 166, ../sass/screen.sass */
  #doi-trei {
    width: 300px;
    height: 300px;
    left: 600px;
    top: 300px;
  }
}
@media screen and (min-width: 1281) {
  /* line 166, ../sass/screen.sass */
  #doi-trei {
    width: 340px;
    height: 340px;
    left: 680px;
    top: 340px;
  }
}

/* line 185, ../sass/screen.sass */
#doi-patru {
  display: block;
  position: absolute;
}
@media screen and (max-width: 1024) {
  /* line 185, ../sass/screen.sass */
  #doi-patru {
    width: 250px;
    height: 250px;
    left: 750px;
    top: 250px;
  }
}
@media screen and (min-width: 1025) and (max-width: 1280) {
  /* line 185, ../sass/screen.sass */
  #doi-patru {
    width: 300px;
    height: 300px;
    left: 900px;
    top: 300px;
  }
}
@media screen and (min-width: 1281) {
  /* line 185, ../sass/screen.sass */
  #doi-patru {
    width: 340px;
    height: 340px;
    left: 1020px;
    top: 340px;
  }
}

/* line 205, ../sass/screen.sass */
.text-right {
  text-align: right;
}

/* line 208, ../sass/screen.sass */
.right {
  float: right;
}

/* line 211, ../sass/screen.sass */
#contact {
  display: block;
  font-size: 12px;
  font-family: Arial;
}
@media screen and (max-width: 1024) {
  /* line 211, ../sass/screen.sass */
  #contact {
    width: 250px;
    height: 250px;
    padding-top: 51.02px;
  }
}
@media screen and (min-width: 1025) and (max-width: 1280) {
  /* line 211, ../sass/screen.sass */
  #contact {
    width: 300px;
    height: 300px;
    padding-top: 101.695px;
  }
}
@media screen and (min-width: 1281) {
  /* line 211, ../sass/screen.sass */
  #contact {
    width: 340px;
    height: 340px;
    padding-top: 141.667px;
  }
}
/* line 227, ../sass/screen.sass */
#contact div {
  margin-bottom: 10px;
}

/* line 230, ../sass/screen.sass */
div#trimite {
  margin: 0;
}
/* line 232, ../sass/screen.sass */
div#trimite input {
  background-color: #a5132a;
  color: #303030;
  border: None;
  float: right;
  cursor: pointer;
}

/* line 240, ../sass/screen.sass */
div.flash {
  font-weight: bold;
  display: none;
  position: fixed;
  padding: 10px;
  top: 40px;
  right: 10px;
  min-width: 280px;
  margin: 0px 0px 10px 10px;
  color: white;
  vertical-align: middle;
  cursor: pointer;
  background: black;
  border: 2px solid white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  z-index: 2;
}

@media screen and (max-width: 1024) {
  /* line 258, ../sass/screen.sass */
  .square-image {
    width: 249px;
    height: 249px;
  }
}
@media screen and (min-width: 1025) and (max-width: 1280) {
  /* line 258, ../sass/screen.sass */
  .square-image {
    width: 299px;
    height: 299px;
  }
}
@media screen and (min-width: 1281) {
  /* line 258, ../sass/screen.sass */
  .square-image {
    width: 339px;
    height: 339px;
  }
}
