/* line 17, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -20px;
}
/* line 18, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#container #root-footer {
  height: 20px;
}

/* line 20, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 20px;
}

/* line 17, ../sass/_base.sass */
body {
  background-image: url("../images/patrat_340.png");
  color: #adadad;
}

/* line 21, ../sass/_base.sass */
input[type=text] {
  background-color: #c1c1c1;
  color: #646362;
  border: None;
  padding-right: 0;
  width: 338px;
  height: 19px;
  font-size: 12px;
  font-family: Arial;
}

/* line 31, ../sass/_base.sass */
input[type=submit] {
  margin-right: 1;
}

/* line 34, ../sass/_base.sass */
textarea {
  background-color: #c1c1c1;
  color: #646362;
  border: None;
  width: 338px;
  padding: 0;
  height: 70px;
  font-size: 12px;
  font-family: Arial;
}

/* line 44, ../sass/_base.sass */
ul.menu {
  padding-top: 50px;
}
/* line 46, ../sass/_base.sass */
ul.menu a {
  color: #adadad;
  text-decoration: None;
  font-size: 12px;
  font-family: Arial;
}
/* line 18, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul.menu a:visited {
  color: #adadad;
}
/* line 21, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul.menu a:focus {
  color: #6c6c6c;
}
/* line 24, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul.menu a:hover {
  color: #6c6c6c;
}
/* line 27, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul.menu a:active {
  color: #a5132a;
}
/* line 51, ../sass/_base.sass */
ul.menu a.active {
  color: #a5132a;
}
/* line 53, ../sass/_base.sass */
ul.menu li {
  padding-bottom: 28.333px;
  padding-left: 14px;
  background: url("../images/sageata_gri.png") no-repeat 2px 4px;
  list-style-type: none;
}

/* line 59, ../sass/_base.sass */
ul#cat-menu {
  padding-top: 50px;
}
/* line 61, ../sass/_base.sass */
ul#cat-menu a {
  color: #adadad;
  text-decoration: None;
  font-size: 12px;
  font-family: Arial;
}
/* line 18, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul#cat-menu a:visited {
  color: #adadad;
}
/* line 21, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul#cat-menu a:focus {
  color: #6c6c6c;
}
/* line 24, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul#cat-menu a:hover {
  color: #6c6c6c;
}
/* line 27, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul#cat-menu a:active {
  color: #a5132a;
}
/* line 66, ../sass/_base.sass */
ul#cat-menu a.active {
  color: #a5132a;
}
/* line 68, ../sass/_base.sass */
ul#cat-menu > li.principal {
  padding-left: 14px;
  background: url("../images/sageata_rosie.png") no-repeat 2px 5px;
  list-style-type: none;
}

/* line 73, ../sass/_base.sass */
.small {
  font-size: 80%;
}

/* line 76, ../sass/_base.sass */
#footer {
  color: #646362;
  font-size: 9px;
  font-family: Arial;
}

/* line 81, ../sass/_base.sass */
#logo-img {
  position: absolute;
  top: 680px;
}

/* line 85, ../sass/_base.sass */
#ten-pixels-padder {
  padding: 10px;
}

/* line 88, ../sass/_base.sass */
div.address {
  font-size: 12px;
  font-family: Arial;
}
/* line 91, ../sass/_base.sass */
div.address p {
  line-height: 1.2em;
}

/* line 94, ../sass/_base.sass */
#doi-unu {
  display: block;
  width: 340px;
  height: 340px;
  position: absolute;
  left: 0px;
  top: 340px;
}

/* line 102, ../sass/_base.sass */
#doi-doi {
  display: block;
  width: 340px;
  height: 340px;
  position: absolute;
  left: 340px;
  top: 340px;
}

/* line 110, ../sass/_base.sass */
#doi-trei {
  display: block;
  width: 340px;
  height: 340px;
  position: absolute;
  left: 680px;
  top: 340px;
}

/* line 118, ../sass/_base.sass */
#doi-patru {
  display: block;
  position: absolute;
  width: 340px;
  height: 340px;
  left: 1020px;
  top: 340px;
}

/* line 126, ../sass/_base.sass */
.text-right {
  text-align: right;
}

/* line 129, ../sass/_base.sass */
.right {
  float: right;
}

/* line 132, ../sass/_base.sass */
#contact {
  display: block;
  width: 340px;
  height: 340px;
  padding-top: 141.667px;
  font-size: 12px;
  font-family: Arial;
}
/* line 139, ../sass/_base.sass */
#contact div {
  margin-bottom: 10px;
}

/* line 142, ../sass/_base.sass */
div#trimite {
  margin: 0;
}
/* line 144, ../sass/_base.sass */
div#trimite input {
  background-color: #a5132a;
  color: #303030;
  border: None;
  float: right;
  cursor: pointer;
}

/* line 152, ../sass/_base.sass */
div.flash {
  font-weight: bold;
  display: none;
  position: fixed;
  padding: 10px;
  top: 40px;
  right: 10px;
  min-width: 280px;
  margin: 0px 0px 10px 10px;
  color: white;
  vertical-align: middle;
  cursor: pointer;
  background: black;
  border: 2px solid white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  z-index: 2;
}

/* line 170, ../sass/_base.sass */
.square-image {
  width: 339px;
  height: 339px;
}
