/* line 17, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, ../sass/screen.sass */
body {
  color: #adadad;
}

/* line 21, ../sass/screen.sass */
#zona1, #zona2, #zona3, #zona4 {
  float: left;
}

/* line 24, ../sass/screen.sass */
#zona1 {
  position: absolute;
  width: 1362px;
  height: 850px;
  background-image: url("../images/zona_1.png");
  background-repeat: no-repeat;
}

/* line 30, ../sass/screen.sass */
#zona2 {
  position: absolute;
  left: 1362px;
  top: 0px;
  height: 850px;
  background-image: url("../images/zona_2.png");
  background-repeat: repeat-x;
}

/* line 37, ../sass/screen.sass */
#zona3 {
  position: absolute;
  left: 0px;
  top: 850px;
  width: 1362px;
  background-image: url("../images/zona_3.png");
  background-repeat: repeat-y;
}

/* line 44, ../sass/screen.sass */
#zona4 {
  position: absolute;
  left: 1362px;
  top: 850px;
  background-image: url("../images/patrat_340.png");
  background-repeat: repeat;
}

/* line 51, ../sass/screen.sass */
input[type=text] {
  background-color: #c1c1c1;
  color: #646362;
  border: None;
  padding-right: 0;
  width: 338px;
  height: 19px;
  font-size: 12px;
  font-family: Arial;
}

/* line 61, ../sass/screen.sass */
input[type=submit] {
  margin-right: 1px;
}

/* line 64, ../sass/screen.sass */
textarea {
  background-color: #c1c1c1;
  color: #646362;
  border: None;
  width: 338px;
  padding: 0;
  height: 70px;
  font-size: 12px;
  font-family: Arial;
}

/* line 74, ../sass/screen.sass */
ul#menu {
  padding-top: 2%;
}
/* line 76, ../sass/screen.sass */
ul#menu li {
  list-style-type: none;
}
/* line 78, ../sass/screen.sass */
ul#menu li a {
  color: #6c6c6c;
  text-decoration: None;
  font-size: 10px;
  line-height: 10px;
  font-family: Arial;
  padding-left: 14px;
}
/* line 18, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul#menu li a:visited {
  color: #6c6c6c;
}
/* line 21, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul#menu li a:focus {
  color: #adadad;
}
/* line 24, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul#menu li a:hover {
  color: #adadad;
}
/* line 27, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
ul#menu li a:active {
  color: #a5132a;
}

/* line 86, ../sass/screen.sass */
#years {
  padding-top: 2%;
}
/* line 88, ../sass/screen.sass */
#years a {
  padding-left: 14px;
  font-size: 10px;
  line-height: 10px;
  font-family: Arial;
  color: #6c6c6c;
  text-decoration: None;
}
/* line 18, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#years a:visited {
  color: #6c6c6c;
}
/* line 21, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#years a:focus {
  color: #adadad;
}
/* line 24, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#years a:hover {
  color: #a5132a;
}
/* line 27, ../../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#years a:active {
  color: #adadad;
}

/* line 96, ../sass/screen.sass */
.small {
  font-size: 80%;
}

/* line 99, ../sass/screen.sass */
#footer {
  position: absolute;
  font-size: 9px;
  color: #6c6c6c;
  font-family: Arial;
  top: 766px;
  left: 14px;
}

/* line 107, ../sass/screen.sass */
#logo-img {
  position: absolute;
  top: 42px;
  left: 171px;
}

/* line 112, ../sass/screen.sass */
#ten-pixels-padder {
  padding: 10px;
}

/* line 115, ../sass/screen.sass */
div.address {
  font-size: 12px;
  font-family: Arial;
}
/* line 118, ../sass/screen.sass */
div.address p {
  line-height: 1.2em;
}

/* line 137, ../sass/screen.sass */
#doi-unu {
  display: block;
  width: 169px;
  height: 339px;
  position: absolute;
  left: 0px;
  top: 85px;
}

/* line 140, ../sass/screen.sass */
#doi-doi {
  display: block;
  width: 339px;
  height: 339px;
  position: absolute;
  left: 171px;
  top: 85px;
}

/* line 143, ../sass/screen.sass */
#doi-trei {
  display: block;
  width: 339px;
  height: 339px;
  position: absolute;
  left: 511px;
  top: 85px;
}

/* line 146, ../sass/screen.sass */
#doi-patru {
  display: block;
  width: 339px;
  height: 339px;
  position: absolute;
  left: 851px;
  top: 85px;
}

/* line 149, ../sass/screen.sass */
#doi-cinci {
  display: block;
  width: 169px;
  height: 339px;
  position: absolute;
  left: 1191px;
  top: 85px;
}

/* line 152, ../sass/screen.sass */
#trei-unu {
  display: block;
  width: 169px;
  height: 339px;
  position: absolute;
  left: 0;
  top: 425px;
}

/* line 155, ../sass/screen.sass */
#trei-doi {
  display: block;
  width: 339px;
  height: 339px;
  position: absolute;
  left: 171px;
  top: 425px;
}

/* line 158, ../sass/screen.sass */
#trei-trei {
  display: block;
  width: 339px;
  height: 339px;
  position: absolute;
  left: 511px;
  top: 425px;
}

/* line 161, ../sass/screen.sass */
#trei-patru {
  display: block;
  width: 339px;
  height: 339px;
  position: absolute;
  left: 851px;
  top: 425px;
}

/* line 164, ../sass/screen.sass */
#trei-cinci {
  display: block;
  width: 169px;
  height: 339px;
  position: absolute;
  left: 1191px;
  top: 425px;
}

/* line 167, ../sass/screen.sass */
.text-right {
  text-align: right;
}

/* line 170, ../sass/screen.sass */
.right {
  float: right;
}

/* line 173, ../sass/screen.sass */
#contact {
  display: block;
  width: 340px;
  height: 340px;
  padding-top: 141.667px;
  font-size: 12px;
  font-family: Arial;
}
/* line 180, ../sass/screen.sass */
#contact div {
  margin-bottom: 10px;
}

/* line 183, ../sass/screen.sass */
div#trimite {
  margin: 0;
}
/* line 185, ../sass/screen.sass */
div#trimite input {
  background-color: #a5132a;
  color: #303030;
  border: None;
  float: right;
  cursor: pointer;
}

/* line 192, ../sass/screen.sass */
div.flash {
  font-weight: bold;
  display: none;
  position: fixed;
  padding: 10px;
  top: 40px;
  right: 10px;
  min-width: 280px;
  margin: 0px 0px 10px 10px;
  color: white;
  vertical-align: middle;
  cursor: pointer;
  background: black;
  border: 2px solid white;
  z-index: 2;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* line 211, ../sass/screen.sass */
.prj-img {
  width: 339px;
  height: 339px;
}

/* line 215, ../sass/screen.sass */
#next, #prev {
  display: block;
  width: 42px;
  height: 41px;
}

/* line 220, ../sass/screen.sass */
#next {
  background-image: url("../images/buton_jos.png");
  margin-top: 1px;
}

/* line 223, ../sass/screen.sass */
#next:hover {
  background-image: url("../images/buton_jos_inactiv.png");
}

/* line 226, ../sass/screen.sass */
#prev {
  background-image: url("../images/buton_sus.png");
}

/* line 228, ../sass/screen.sass */
#prev:hover {
  background-image: url("../images/buton_sus_inactiv.png");
}

/* line 231, ../sass/screen.sass */
#counter {
  font-family: Arial;
  font-size: 0.8em;
  padding-left: 10px;
  color: #6c6c6c;
}

/* line 237, ../sass/screen.sass */
#links {
  margin-top: 213px;
}
/* line 239, ../sass/screen.sass */
#links a {
  text-decoration: none;
}
/* line 241, ../sass/screen.sass */
#links .current {
  border: 1px solid #a5132a;
}

/* line 244, ../sass/screen.sass */
.hidden-text {
  font-family: Arial;
  color: #6c6c6c;
  font-size: 0.8em;
  display: none;
  position: relative;
  padding-left: 3px;
  bottom: 15px;
}

/* line 253, ../sass/screen.sass */
#home-link, #contact-link, #access-link {
  width: 42px;
  height: 41px;
  display: inline-block;
}

/* line 258, ../sass/screen.sass */
#home-link {
  background-image: url("../images/home.png");
}

/* line 261, ../sass/screen.sass */
#contact-link {
  background-image: url("../images/contact.png");
  margin-top: -1px;
}

/* line 265, ../sass/screen.sass */
#access-link {
  background-image: url("../images/access.png");
  margin-top: -1px;
}

/* line 269, ../sass/screen.sass */
#about_us {
  font-size: 12px;
  font-family: Arial;
}
/* line 272, ../sass/screen.sass */
#about_us h1 {
  font-size: 2em;
}
/* line 274, ../sass/screen.sass */
#about_us ul > li {
  list-style-type: disc;
}
/* line 276, ../sass/screen.sass */
#about_us ol > li {
  list-style-type: decimal;
}

/* line 279, ../sass/screen.sass */
#galerie {
  min-height: 680px;
  min-width: 1020px;
  max-height: 1020px;
  max-width: 1360px;
}
/* line 284, ../sass/screen.sass */
#galerie #grid {
  display: block;
  width: 339px;
  height: 339px;
  position: absolute;
  left: 0px;
  top: 340px;
}
/* line 286, ../sass/screen.sass */
#galerie #grid img.pic {
  position: relative;
  width: 84px;
  float: left;
}

/* line 291, ../sass/screen.sass */
#panou {
  background-color: #6f6f6f;
  position: relative;
  left: 340px;
  height: 679px;
  width: 679px;
}
/* line 297, ../sass/screen.sass */
#panou img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

/* line 303, ../sass/screen.sass */
#progress {
  display: none;
  margin-top: -10px;
  margin-left: -31px;
  z-index: 2;
}
