@import compass/reset
@import "compass/typography/links/link-colors"
@import "compass/typography/lists/bullets"
@import "compass/css3/border-radius"
@import "compass/css3/opacity"
@import "compass/css3/text-shadow"

$gutter_width: 171px
$gutter_height: 85px
$square_side: 340px
$padding-contact: ($square_side/2.4)

$light-grey: #adadad
$red:  #a5132a
$font-family: Arial
$font-size: 12px
    
body
    color: $light-grey

#zona1, #zona2, #zona3, #zona4
    float: left

#zona1
    width: 1362px
    height: 850px
    background-image: url("../images/zona_1.png")
    background-repeat: no-repeat
#zona2
    height: 850px
    background-image: url("../images/zona_2.png")
    repeat-x
#zona3
    width: 1362px
    background-image: url("../images/zona_3.png")
    background-repeat: repeat-y
#zona4
    width: 340px
    height: 340px
    background-image: url("../images/patrat_340.png")
    background-repeat: repeat

input[type=text]
    background-color: #c1c1c1
    color: #646362
    border: None
    padding-right: 0
    width: ($square_side - 2)
    height: 19px
    font-size: $font-size
    font-family: $font-family
    
input[type=submit]
    margin-right: 1
        
textarea
    background-color: #c1c1c1
    color: #646362
    border: None
    width: ($square_side - 2)
    padding: 0
    height: 70px
    font-size: $font-size
    font-family: $font-family

ul#menu
    padding-top: 5%
    li
        list-style-type: none
        a
            +link-colors(#6c6c6c, $light-grey, $red, #6c6c6c, $light-grey )
            text-decoration: None
            font-size: 10px
            line-height: 10px
            font-family: $font-family
            padding-left: 14px
        a:hover
            background: url('../images/sageata_rosie.png') no-repeat 2px 5px

#years
    padding-top: 5%
    a
        padding-left: 10px
        font-size: 10px
        line-height: 10px
        font-family: $font-family
        +link-colors(#6c6c6c, $red, $light-grey, #6c6c6c, $light-grey)
        text-decoration: None

.small
    font-size: 80%

#footer
    position: absolute
    font-size: 9px
    font-family: $font-family
    top: $gutter_height + $square_side*2 + 65
    left: 10px

#logo-img
    position: absolute
    top: $gutter_height - 43
    left: $gutter_width

#ten-pixels-padder
    padding: 10px

div.address
    font-size: $font-size
    font-family: $font-family
    p
        line-height: 1.2em

@mixin square($left, $top: 10px)
    display: block
    width: $square_side
    height: $square_side
    position: absolute
    left: $left
    top: $top

#doi-unu
    +square(0px, $gutter_height)

#doi-doi
    +square($gutter_width, $gutter_height)

#doi-trei
    +square($gutter_width+$square_side, $gutter_height)

#doi-patru
    +square($gutter_width+ $square_side*2, $gutter_height)
  
#doi-cinci
    +square($gutter_width+ $square_side*3, $gutter_height)

#trei-unu
    +square(0, $gutter_height + $square_side)

#trei-doi
    +square($gutter_width, $gutter_height + $square_side)

#trei-trei
    +square($gutter_width+$square_side, $gutter_height + $square_side)

#trei-patru
    +square($gutter_width+$square_side*2, $gutter_height + $square_side)

#trei-cinci
    +square($gutter_width+$square_side*3, $gutter_height + $square_side)

.text-right
    text-align: right
      
.right
    float: right

#contact
    display: block
    width: ($square_side)
    height: ($square_side)
    padding-top: $padding-contact
    font-size: $font-size
    font-family: $font-family
    div
        margin-bottom: 10px

div#trimite
    margin: 0
    input
        background-color: $red
        color: #303030
        border: None
        float: right
        cursor: pointer
        
div.flash
    font-weight: bold
    display: none
    position: fixed
    padding: 10px
    top: 40px
    right: 10px
    min-width: 280px
    margin: 0px 0px 10px 10px
    color: #fff
    vertical-align: middle
    cursor: pointer
    background: #000
    border: 2px solid #fff
    z-index: 2
    +opacity(0.85)
    +border-radius
    

.prj-img
    width: ($square_side - 1)
    height: ($square_side - 1)
  
#prev
    position: relative
    float: left

#next
    margin-top: 40px
    position: relative
    left: -42px

#links
    margin-top: $square_side - 84


#about_us
    font-size: $font-size
    font-family: $font-family
    h1
        font-size: 2em
    ul>li
        list-style-type: disc
    ol>li
        list-style-type: decimal

#galerie
    min-height: $square_side*2
    min-width: $square_side*3
    max-height: $square_side*3
    max-width: $square_side*4
    #grid 
        +square(0px, $square_side)
        img.pic
            position: relative
            float: right
            width: $square_side/4
            
#panou
    position: relative
    left: $square_side
    min-height: $square_side*2
    min-width: $square_side*2
    img
        max-width: 100%

#next-gallery, #prev-gallery
    display: block
    width: 42px
    height: 41px

#next-gallery
    background-image: url("../images/buton_jos.png")
#next-gallery.disabled
    background-image: url("../images/buton_jos_inactiv.png")

#prev-gallery
    background-image: url("../images/buton_sus.png")
#prev-gallery.disabled
    background-image: url("../images/buton_sus_inactiv.png")
