@import compass/reset
@import "compass/typography/links/link-colors"
@import "compass/layout/sticky-footer"
@import "compass/typography/lists/bullets"
@import "compass/css3/border-radius"
@import "compass/css3/opacity"
@import "compass/css3/text-shadow"

+sticky-footer(20px, "#container", "#root-footer", "#footer")

$square_side_min: 250px
$background-image_min: "../images/patrat_250.png"
$padding-contact_min: ($square_side_min/4.9)

$square_side_med: 300px
$background-image_med: "../images/patrat_300.png"
$padding-contact_med: ($square_side_med/2.95)

$square_side_max: 340px
$background-image_max: "../images/patrat_340.png"
$padding-contact_max: ($square_side_max/2.4)

$light-grey: #adadad
$red:  #a5132a
$font-family: Arial
$font-size: 12px
    
body
  @media screen and (max-width: 1024)
    background-image: url($background-image_min)
  @media screen and (min-width: 1025) and (max-width: 1280)
    background-image: url($background-image_med)
  @media screen and (min-width: 1281)
    background-image: url($background-image_max)
  color: $light-grey

input[type=text]
  background-color: #c1c1c1
  color: #646362
  border: None
  padding-right: 0
  @media screen and (max-width: 1024)
    width: ($square_side_min - 2)
  @media screen and (min-width: 1025) and (max-width: 1280)
    width: ($square_side_med - 2)
  @media screen and (min-width: 1281)
    width: ($square_side_max - 2)
  height: 19px
  font-size: $font-size
  font-family: $font-family
    
input[type=submit]
  margin-right: 1
        
textarea
  background-color: #c1c1c1
  color: #646362
  border: None
  @media screen and (max-width: 1024)
    width: ($square_side_min - 2)
  @media screen and (min-width: 1025) and (max-width: 1280)
    width: ($square_side_med - 2)
  @media screen and (min-width: 1281)
    width: ($square_side_max - 2)
  padding: 0
  height: 70px
  font-size: $font-size
  font-family: $font-family

ul.menu
  padding-top: 50px
  a
    +link-colors($light-grey, #6c6c6c, $red, $light-grey,  #6c6c6c)
    text-decoration: None
    font-size: $font-size
    font-family: $font-family
  a.active
    color: $red
  li
    @media screen and (max-width: 1024)
      padding-bottom: ($square_side_min/12)
    @media screen and (min-width: 1025) and (max-width: 1280)
      padding-bottom: ($square_side_med/12)
    @media screen and (min-width: 1281)
      padding-bottom: ($square_side_max/12)
    padding-left: 14px
    background: url('../images/sageata_gri.png') no-repeat 2px 4px
    list-style-type: none

ul#cat-menu
  padding-top: 50px
  a
    +link-colors($light-grey, #6c6c6c, $red, $light-grey,  #6c6c6c)
    text-decoration: None
    font-size: $font-size
    font-family: $font-family
  a.active
    color: $red
  >li
    padding-left: 14px
    background: url('../images/sageata_rosie.png') no-repeat 2px 5px
    list-style-type: none

.small
  font-size: 80%

#footer
  color: #646362
  font-size: 9px
  font-family: $font-family

#logo-img
  position: absolute
  @media screen and (max-width: 1024)
    top: ($square_side_min*2)
  @media screen and (min-width: 1025) and (max-width: 1280)
    top: ($square_side_med*2)
  @media screen and (min-width: 1281)
    top: ($square_side_max*2)

#ten-pixels-padder
  padding: 10px

div.address
  font-size: $font-size
  font-family: $font-family
  p
    line-height: 1.2em

#doi-unu
  display: block
  @media screen and (max-width: 1024)
    width: $square_side_min
    height: $square_side_min
    top: $square_side_min
  @media screen and (min-width: 1025) and (max-width: 1280)
    width: $square_side_med
    height: $square_side_med
    top: $square_side_med
  @media screen and (min-width: 1281)
    width: $square_side_max
    height: $square_side_max
    top: $square_side_max
  position: absolute
  left: 0px

#doi-doi
  display: block
  position: absolute
  @media screen and (max-width: 1024)
    width: $square_side_min
    height: $square_side_min
    left: $square_side_min
    top: $square_side_min
  @media screen and (min-width: 1025) and (max-width: 1280)
    width: $square_side_med
    height: $square_side_med
    left: $square_side_med
    top: $square_side_med
  @media screen and (min-width: 1281)
    width: $square_side_max
    height: $square_side_max
    left: $square_side_max
    top: $square_side_max

#doi-trei
  display: block
  position: absolute
  @media screen and (max-width: 1024)
    width: $square_side_min
    height: $square_side_min
    left: ($square_side_min*2)
    top: $square_side_min
  @media screen and (min-width: 1025) and (max-width: 1280)
    width: $square_side_med
    height: $square_side_med
    left: ($square_side_med*2)
    top: $square_side_med
  @media screen and (min-width: 1281)
    width: $square_side_max
    height: $square_side_max
    left: ($square_side_max*2)
    top: $square_side_max

#doi-patru
  display: block
  position: absolute
  @media screen and (max-width: 1024)
    width: $square_side_min
    height: $square_side_min	
    left: ($square_side_min*3)
    top: $square_side_min
  @media screen and (min-width: 1025) and (max-width: 1280)
    width: $square_side_med
    height: $square_side_med	
    left: ($square_side_med*3)
    top: $square_side_med
  @media screen and (min-width: 1281)
    width: $square_side_max
    height: $square_side_max	
    left: ($square_side_max*3)
    top: $square_side_max
  

.text-right
  text-align: right
      
.right
  float: right

#contact
  display: block  
  @media screen and (max-width: 1024)
    width: $square_side_min
    height: $square_side_min
    padding-top: $padding-contact_min
  @media screen and (min-width: 1025) and (max-width: 1280)
    width: $square_side_med
    height: $square_side_med
    padding-top: $padding-contact_med
  @media screen and (min-width: 1281)
    width: $square_side_max
    height: $square_side_max
    padding-top: $padding-contact_max  
  font-size: $font-size
  font-family: $font-family
  div
    margin-bottom: 10px

div#trimite
  margin: 0
  input
    background-color: $red
    color: #303030
    border: None
    float: right
    cursor: pointer
        

div.flash
  font-weight: bold
  display: none
  position: fixed
  padding: 10px
  top: 40px
  right: 10px
  min-width: 280px
  margin: 0px 0px 10px 10px
  color: #fff
  vertical-align: middle
  cursor: pointer
  background: #000
  border: 2px solid #fff
  +opacity(0.85)
  +border-radius
  z-index: 2

.square-image 
  @media screen and (max-width: 1024)
    width: ($square_side_min - 1)
    height: ($square_side_min - 1)
  @media screen and (min-width: 1025) and (max-width: 1280)
    width: ($square_side_med - 1)
    height: ($square_side_med - 1)
  @media screen and (min-width: 1281)
    width: ($square_side_max - 1)
    height: ($square_side_max - 1)

  

